<div class="card">
    <mat-card class="home mat-elevation-z3">
        <mat-card-title class="title">
            Sobre a <b>TRAINING 4.0</b>
        </mat-card-title>
    </mat-card>
    <mat-card class="home mat-elevation-z3">
        <mat-card-title class="title">
            <b>Missão</b> <br>
            Oferecer uma plataforma para educação em Tecnologias da Indústria 4.0, proporcionando capacitação para alunos e profissionais que necessitam desse conhecimento	
        </mat-card-title>
    </mat-card><hr>
    <mat-card class="home mat-elevation-z3">
        <mat-card-title class="title">
            <b>Visão</b> <br>
            Alcançar o mercado de educação à distância através do diferencial que são as tecnologias que estão gerando um grande impacto na sociedade atual.
        </mat-card-title>
    </mat-card><hr>
    <mat-card class="home mat-elevation-z3">
        <mat-card-title class="title">
            <b>Valores</b> <br>
            Ética Respeito à individualidade dos colaboradores
            Comprometimento com os parceiros e consumidores
        </mat-card-title>
    </mat-card><hr><br><hr>
    <div class="img-rodape">
        <img src="assets/ai.jpg" height="120px" width="220px">
        <img src="assets/big.jpg" height="120px" width="220px">
        <img src="assets/cloud.jpg" height="120px" width="220px">
        <img src="assets/cripto.jpg" height="120px" width="220px">
    </div>
</div>

