<div class="card">
<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo à <b>TRAINING 4.0</b>
    </mat-card-title>
    <mat-card-subtitle class="subtitle">Cursos e Treinamentos online</mat-card-subtitle>
</mat-card>
<mat-card class="img mat-elevation-z3">
    <img src="assets/industria40.png" height="300px" width="640px">
</mat-card><hr>
<mat-card class="txt mat-elevation-z3">
    <mat-icon>grade</mat-icon><mat-icon>grade</mat-icon><mat-icon>grade</mat-icon>
    <p>Aqui você poderá criar cursos que ajudarão na capacitação de muitas pessoas dentro da Industria 4.0</p>
</mat-card>
<div class="robo">   
    <img src="assets/bot.gif" height="280px" width="290px">
    </div>   
</div>